{% extends 'TrainingCoreBundle::template.html.twig' %}

{% block title %}{{ 'Projekt Übersicht'|trans }}{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Projektleiter</th>
                <th></th>
                <th></th>
                {% if is_granted('ROLE_ADMIN') %}<th></th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.leader|hash }}</td>
                <td>
                    <a href="{{  path('project_edit', {id: project.id}) }}">
                       edit
                    </a>
                </td>
                <td>
                    <a href="{{  path('project_confirm_delete', {id: project.id}) }}">
                        delete
                    </a>
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{  path('history_show', {id: project.id}) }}">
                        history
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
