{% extends 'TrainingCoreBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
        {% endfor %}
        <div class="header">
            <div class="btn-group pull-right">
                <a class="btn btn-primary" href="{{ path('project_index') }}">{{  'Projekt'|trans }}</a>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('project_new') }}">Neu</a></li>
                </ul>
                {% if app.user.username is defined %}
                <a class="btn btn-warning" href="{{ path('training_logout') }}">
                    {{  'Abmelden'|trans }}
                </a>
                {% endif %}
            </div>
            <h3 class="text-muted">{% block title %}{% endblock %}</h3>
        </div>
        <hr/>
        {% block content %}{% endblock %}
        <hr/>
        <div class="footer">
            <p>&copy; WhereGroup 2014</p>
        </div>
    </div>
{% endblock %}
